@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700italic,700);
@import url(http://fonts.googleapis.com/css?family=Source Code Pro);

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro:200,300,400,500,600,700,900);

@import url(http://fonts.googleapis.com/css?family=Montserrat);


/*
html{
	margin:0;
	padding:0;
	overflow: hidden;
}
body{
	position: absolute;
	width:100%;
	height:100%;
	overflow: auto;
}section
*/


body {
	
	font-size: 14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	max-width: 320px !important;
	max-height: 600px !important;
	overflow: hidden;
	
	font-family: 'Source Code Pro';	
		
	background: #ff0084; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ff0084 0%, #ff5d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0084), color-stop(100%,#ff5d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ff0084 0%,#ff5d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff5d00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: #232323;
	
}


a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);

}

section {
	position: relative;
	z-index: 3;
}

#back {
	position: fixed;
	z-index: 0 !important;
	width: 100%;
	height: 100%;
	top: 0px;
	display: none;
	overflow: auto;
	

}

#budgets, #bills, #transactions {
	background: white;
}






#header {

	height: 65px;
	width: 100%;
	position: fixed;
	overflow: hidden;
	top:0;
	background: #232323;
/* 	background: #f2f2f2; */
	z-index: 5555 ;
	
	max-width: 320px;
	
}

#header nav {
	width: 90%;
	padding: 0 5% 5% 5%;
	
	transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
    -webkit-transition: all .05s ease-in-out;

}

#header #period_menu {
	width: 0px;
	height: 0px;
	overflow: hidden;
	float: left;
	padding: 10px 0 0 0 ;
	
	transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -webkit-transition: width .5s ease-in-out;
    
    transition: opacity.5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

#header .open {
	width: 200px !important;
	height: 60px !important;
/* 	background: red; */
}

#header #period_menu a {
	display: block;
	width: 220px;
/* 	background: blue; */
}

#header a {
	width: 30px;
	height: 30px;
	float: left;
	display: block;
	overflow: hidden;
	background-size: 100%;
	padding: 6% 3% 3% 3%;
	margin-bottom: 3%;
	cursor: pointer;
/* 	background-color: red; */
	transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    background-repeat: no-repeat;
    
/*     border-top: 2px solid #000; */

}

#header .active {
	opacity: .5 !important;
/*     border-top: 2px solid #fff; */

}

/*
#header a.ledger {background-image: url(_img_black/icon_transactions.svg)}
#header a.budget {background-image: url(_img_black/icon_budgets.svg)}
#header a.bills {background-image: url(_img_black/icon_bills.svg)}
#header a.settings {background-image: url(_img_black/icon_settings.svg)}
#header a.status {background-image: url(_img_black/icon_status.svg)}
*/
#header a.new { float: right;}

.next, .prev {
	background: white;
	
/* 	color: #ff0084; */
	color: #232323;
	font-size: 1em;
	font-family: 'Karla'; 
	font-weight: 400;
	border-radius: 4px;
	padding: 8px;
	top: 18px;
	position: absolute;
	z-index: 999999999;
}
.next {
	right: 32px;
}

.prev {
	left: 32px;
}



#header a:hover {
	opacity: .5;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
/* 	margin-top:67px; */
	overflow: scroll;
	font-size: 14px;
/* 	background: white; */
}

/*
section#transactions, section#budget, section#bills, section#status, section#new {
	margin-top: 67px;
}
*/

/*
section#status, section#new {
	margin-top: 67px;
}
*/

#splash {
	position: fixed;
	height: 100%;
	width: 100%;
	
	background: #000;
	opacity: 1;
	top: 0;
	z-index: 99999999;
}

#splash img {
	width: 50%;
	padding: 25%;
	margin-top: 45%;
}



/* GENERAL */


#blackbar {
	background: #f2f2f2 url();
	overflow: hidden;
	height: 45px;
	width: 100%;
	margin-top: 60px;
	display: block;
	
	z-index: 9 !important;

}

#blackbar #inside {
/*
	width: 900px;
	background: blue;
	height: 45px;
*/
}

.section_head {
	width: 260px;
	padding: 5px 10% 13px 10%;
	font-family: 'Karla'; 
	font-weight: 700;
	display: block;
	overflow: auto;
	color: #000;
	position: relative;
	left: 0px;
	float: left;
	
	transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.section_head div {
	transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

.back_button {

	position: relative;
/* 	top:0px; */
	/* float: left; */
	color: #fff;
	/* left:320px; */
	width: 80%;
	padding: 0 10% 10px 10%;
	font-family: 'Karla'; 
	font-weight: 700;
	display: block;
	overflow: auto;
/* 	background: red; */
	cursor: pointer;
	
		transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}


.back_button div{
	width: 60%;
	float: left;
	padding: .8em .8em .8em 0;
	font-family: 'Karla'; 
	font-weight: 700;
	cursor: pointer;


}

.item {
	width: 80%; 
	background: white;
	display: block;
	overflow: auto;
	padding: 1% 10% 1% 10%;
	float: left;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);


	cursor: pointer;
	transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}

.item:hover {
}

.section_head .one, .item .one {
	width: 40%;
	float: left;
	padding: .8em .8em .8em 0;
	font-family: 'Karla'; 
	font-weight: 700;

}

.section_head .two, .item .two {
	float: right !important;
	padding: .8em 0 .8em .8em;
	width: 15%;
	text-align: right;

}

.section_head .three, .item .three {
	float: right !important;
	padding: .8em 0 .8em .8em;
	width: 25%;
	text-align: right;
}



/* TRANSACTIONS */

#transactions {
	width:100%;	
	background: #fff;
}

#transactions #top, #status #top {
	background: #f2f2f2;
	width: 90%;
	padding: 1% 5% 1% 5%;
}

#transactions #top div, #status #top div {
	padding: .8em;
	font-family: 'Karla'; 
	font-weight: 700;
/* 	text-transform: uppercase ; */
/* 	font-weight: 700; */
}

#transactions #title {
	width: 90%;
	font-family: 'Karla'; font-weight: 700;
/* 	font-weight: 700; */
	text-align: center;
	color: #ff0084;
	padding:  5%;
	font-size: 1.5em;
}

#transactions .row {
	width: 90%;
	padding: 1% 5% 1% 5%;
	overflow: auto;
	display: block; 
	float: none;
/* 	padding:.5em 0 .5em 0; */
	background-color: rgba(0, 0, 0, 0.05); 
	/*
border-left: 1px solid;
	border-right: 1px solid;
*/
	border-color: rgba(0, 0, 0, 0.05);
	
	transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}


#transactions .row:hover  {
	
	cursor: pointer;
/* 	color: #fff; */
	background-color: rgba(0, 0, 0, 0.1) !important;

	
	/*
background: #ff0084; 
background: -moz-linear-gradient(-45deg,  #ff0084 0%, #ff5d00 100%) !important; 
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0084), color-stop(100%,#ff5d00)) !important; 
background: -webkit-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%) !important; 
background: -o-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%) !important;
background: -ms-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%) !important; 
background: linear-gradient(135deg,  #ff0084 0%,#ff5d00 100%) 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff5d00',GradientType=1 ) !important;
*/
}

.alt {
/* 	background: #f2f2f2; */
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	
}



.item div {
	float: left;
}


#transactions .date {
	width: 15%;
	padding: .8em .8em .8em 0;

	
}

#transactions .vendor {
	width: 45%;	
	font-family: 'Karla'; 
	font-weight: 700;
	padding: .8em .8em .8em .8em;
	overflow: hidden;

}

#transactions .category {
	width: 25%;
	display: none;
}

#transactions .amount {
	font-family: 'Source Code Pro';
	width: 20%;
	float: right;
	text-align: right;
	padding: .8em 0 .8em .8em;

}




/* STATUS */


#status {
	
	min-height: 100%;
	margin-top: 50px;
	/* background: white; */
	/* color: #000; */
	overflow: auto;
	display: block;
	

}

#status .equation {
	padding-top: 20px;
	display: block;
	overflow: auto;
	margin-top: 10px;
		

}


#status #main {

	width: 80%;
	padding: 0 10% 5% 10%;

}

#status #label {
	margin: 0px auto;
/* 	text-transform: uppercase ; */
/* 	font-family: 'Karla'; font-weight: 700; */
	color: #999;
	opacity: .5;
	font-size: 1em;
	width: 100%;
/* 	font-weight: 700; */
	text-align: center;
	margin-bottom: 1.5em
}

#status #main #number {
	width: 100%;
	background: rgba(0, 0, 0, 0.1); 
	background: white;
	padding-top:0;
	font-size:8em;
/* 	border: 1.5px solid #fff; */
	color: #000;
	text-align: center;
	font-family: 'Source Code Pro';
	letter-spacing: -5px;
	font-weight: 200;
	margin-bottom: 50px;
	margin-top: 10px;
	border-radius: 4px;
/* 	font-weight: bold; */
}


#number span {
	vertical-align: super;
	font-size: 50%;
	font-weight: 300;
	opacity: 
}

#status #items {
	width: 80%;
	padding: 5% 10% 5% 10%;
}

#status #items .row {
	width: 100%;
	/* background: white; */
	display: block;
	overflow: auto;
	margin-bottom: 2px;
	color: #fff;
	border-top: 1.5px solid #424242;

}

#status #items .row .left {
	float: left;
	width: 50%;
	font-family: 'Karla'; font-weight: 700;
	padding: 1em 0 1em 0;
	
}


#status #items .row .right {
	float: right;
	width: 30%;
	font-family: 'Source Code Pro';
	padding: 1em 0 1em 0;
	text-align: right;
}

#status #items #balance {
	border: none;
}

 #nextsteps {
	width: 100%;
	display: block;
	overflow: auto;
/* 	margin: 0px 10% 10% 10%; */
}

#nextsteps a  {
/* 	background: #000; */
	color: #fff;
	padding: 1em;
/* 	background: #fcd3c1; */
	font-family: 'Karla';
	font-weight: 700;
	border-radius: 4px;
	margin-bottom: 1em;
/* 	border: 2px solid #fff; */
	display: block;
	
	overflow: auto;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	
	
	background: #ff0084; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ff0084 0%, #ff5d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0084), color-stop(100%,#ff5d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ff0084 0%,#ff5d00 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ff0084 0%,#ff5d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff5d00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: #232323;
}

#nextsteps a:hover {
	border-color: #ff5d00;
}

/* NEW */


#new {

/* 	background: aqua; */
	overflow: auto;
/* 	background: black; */
	padding-bottom: 1000px;
	margin-top: 60px;
	z-index: 9;
		
		
	transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
    -webkit-transition: all .05s ease-in-out;
}

.numDisplay {
	font-size: 60px;
	color: #fff;
	width: 80%;
	height: 80px;
	margin: 10px 10% 10px 10%;
	text-align: center;
	font-family: 'Source Code Pro';
	font-weight: 200;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 4px;
	
	/*
background: white;
	border-color: white;
*/
	
	
	/*
position: absolute;
	top: 10px;
	width: 256px;
	left: 32px;
*/

}

#numBox:before
{ 
content:"$";
}

#new .keypad {
	width: 80%;
	padding: 0 10% 5% 10%;
/* 	margin-top: 100px; */
	font-family: 'Source Code Pro';
	font-weight: 200;

}

#new .keypad .key, #new .keypad .btn, #new .keypad .dec {
	width: 71px;
	height: 58px;
	padding: 10px 3% 5px 3%;
	float: left;
	text-align: center;
	color: #fff;
	overflow: auto;
	font-size: 2.5em;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

#new .keypad .bottom {
	border:none !important;
}

 #new .keypad .btn {
	font-size:; 
 }
 
 #new .keypad .del {
	background: url(../_svg/x.svg) no-repeat 0 8px; 
	background-size: 75% 75%;
}

#new .keypad .key:hover {
	opacity: .7;
}

#new .continue {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	color: #000;
	font-family: 'Karla'; font-weight: 700;
	display: block;
	padding: 20px 0 20px 0;
	text-align: center;
	cursor: pointer;
	display: none;
}

.new_next {
	display: none;
}


.pushpanel.new {
	margin-top: 65px;	
	z-index: 999999 !important;
}

/*
.pushpanel.new input {
	color: #fff;
}

.pushpanel.new .horizontal {
	border-bottom: 1px solid #232323;
}

.pushpanel.new .horizontal p {
	color: #999;
}

.pushpanel.new select {
    color: #fff;
}
*/




/* BUDGETS */

#budgets {
	overflow: auto;
	display: block;

	transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
    -webkit-transition: all .05s ease-in-out;
    
    
}

 .addnew {
/* 	background: transparent; */
	padding: 1.2em .8em 1em .8em;
	text-align: center;
	display: block;
	background: white;
	overflow: auto;
	
}

.addnew img {
	margin-top: -7px;
	margin-right: 10px;
float: left
}

.addnew span {
	display: block;
	float: left;
	font-family: 'Karla'; font-weight: 700;
	color: #000;
}


#budgets .item .one {
	font-family: 'Karla'; font-weight: 700;
	font-weight: 700;
}



#budgets .graph {
	height: 10px;
	background: #f2f2f2 ;
	display: block;
	z-index: 9;
	width: 100%;
	float: left;
}

#budgets .graph .filled {
	float: left;
	height: 10px;
	
	transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
	
	background: /* #b9e2d2 */ #b9e2d2 ;
}


#budgets .graph .full {
	background: #f05223 !important;
}

#budgets #top {
	border-bottom: 1px solid #f2f2f2;
	background: #f2f2f2
}

.below {
	height: 0px ;
	width: 100%;
	overflow: hidden;

	transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.below div {
	background: red;
	width: 80%;
	padding: 10%;
	
}

.open {
	height: 200px;
}

.pushpanel {

	width: 100%;
	background: #f2f2f2 url() ;
	height: 100%;
	min-height: 400px;
	position: fixed;
	top: 0px;
	margin-left: 350px;
	max-width: 320px !important;
	
	z-index: 99999 !important;
	
	transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    
    -webkit-box-shadow: -14px 0px 33px -3px rgba(0,0,0,0.2);
-moz-box-shadow: -14px 0px 33px -3px rgba(0,0,0,0.2);
box-shadow: -14px 0px 33px -3px rgba(0,0,0,0.2);
	
}

.pushpanel .close {
	display: block;
	position: absolute;
	top:0;
	float: right;
	right: 0;
	cursor: pointer;
	padding: 20px;
	z-index: 9999;
}

.pushpanel .close div {
	width: 20px;
	height: 20px;
	padding:10px;
	background: #000 url(http://f.cl.ly/items/070d1T2v0H0a3n200t19/icon_x_white.svg) center center no-repeat;
	background-size: 30% 30%;
	
	background-color: #ff0084; 
	background-color: #232323;
	

}

.pushpanel .close:hover div  {
	background-color: #ff5d00;
	background-color: #ccc;
}

.pushpanel .content {
	width: 80%;
	margin: 10%;
	
}

.pushpanel p {
	padding: 0 0 1em 0;

}

.pushpanel input {
/* 	background: #f2f2f2; */
	color: #000;
	background: transparent;
	padding: 0 15px 0 0;
	border: none; 
	font-family: 'Karla';
	font-weight: 700;
	font-size: 1.5em;
	width: 90%;
/* 	margin-bottom: 1em; */
}

.pushpanel .horizontal {
	border-bottom: 1px solid #d9d9d9;
	padding: 0 0 15px 0;
	margin-bottom: 15px;
}


select {
    	font-family: 'Karla';
	font-weight: 700;
	font-size: 1.5em;;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 0px;
    width: 100%;
    background: transparent;
    -webkit-appearance: none;

    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
     
    background-position: right 15px top 22px;
    background-size: 18px 18px;
/*     background-color: #f2f2f2; */

}
select:active {
   /*  border: 1px solid #000; */
}
#dropdown {
    margin: 0px;
}

.pushpanel .history {
	font-size: .8em;
	color: #999;
	line-height: 160%;
	margin-top: 1em;
}






.overlay {
	width: 100%;
	height: 100%;
	background: #ccc;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	
	z-index: 555;
	
		transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
    -webkit-transition: all .05s ease-in-out;
}


/* BILLS */
#bills .item {
	border-bottom: 1px solid #f2f2f2;
}

#bills .one {
	width: 50%;
}



#bills .item .details {
	width: 100%;
	float: left;
	overflow: auto;
	display: block;
	
}

#bills .item .details div {
	padding: 0 .8em .8em 0;
	float: left;
	opacity: .4
/* 	background: green */
}

#top {
	border-bottom: 1px solid #f2f2f2;
	background: #f2f2f2
}




/* SETTINGS */


#settings, #bills {
	/* min-height: 1000px; */
	/* background: #fff; */
	overflow: auto;
	display: block;
}

#settings {
	background: white;
}



#settings .item .one {
	float: left;
	padding: .8em;
	width: 70%;
	font-family: 'Karla'; font-weight: 700;
/* 	text-transform: uppercase ; */
	font-weight: 700;
}


.item .details {
	width: 100%;
	float: left;
	overflow: auto;
	display: block;
	
}

.item .details div {
	padding: 0 .8em .8em .8em;
	float: left;
	opacity: .4
/* 	background: green */
}





path, polyline, line, ellipse, polygon, circle  {
	stroke: white;
}

.new_next path, .new_next polyline, .new_next line, .new_next ellipse, .new_next polygon, .new_next circle  {
	stroke: black;
}

#header {
/* 	background: black; */
	color: #fff;
}





